* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Work Sans', sans-serif;
}

.banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

.banner .banner-text {
    margin-right: 200px;
}

.banner h1 {
    font-family: 'Work Sans', sans-serif;
    color: #151414;
    font-size: 50px;
    font-weight: bold;
}

.banner p {
    font-size: 16px;
    color: #444343;
    margin-top: 20px;

}

.banner button {
    background-color: #F15B22;
    color: #FFFFFF;
    border: 0;
    padding: 15px 20px;
    margin-top: 15px;
}

.failures-sections {
    display: flex;
    gap: 100px;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

.failures-images img {
    width: 400px;
}

.failures-text {
    width: 400px;
}

.failures-text h1 {
    font-weight: bold;
    columns: #151414;
    font-size: 35px;
}

.failures-text p {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    color: #444343;
    margin-top: 20px;
    padding-bottom: 10px;
}

.failures-text .all-list-item li {
    list-style: none;
    font-family: 'Work Sans';
    color: #444343;
    margin-top: 10px;
    font-size: 16px;
}

.all-list-item .fa-check {
    color: #16D887;
}

.plan-section {
    max-width: 80%;
    margin: 0 auto;
}

.plan-section h1 {
    text-align: center;
    color: #151414;
    font-size: 35px;
    Font-family: Work Sans;
    margin-top: 100px;
}

.skill-section {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
}

.skill-section .development h4 {
    color: #151414;
    Font-family: Work Sans;
    font-weight: bold;
    font-family: 'Work Sans';
    margin-top: 10px;

}

.skill-section .development p {
    color: #737272;
    font-size: 16px;
    margin-top: 5px;
}

.mind-section {
    background-image: url("../images/gradient2.png"), url("../images/watch.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 80%;
    margin: 100px auto;
    height: 250px;
    padding: 40px 0 0 35px;

}
.mind-section h2{
    color: #FFFFFF;
    Font-family: Work Sans;
    font-weight: bold;
    font-size: 40px;
    
}
.mind-section button{
    padding: 15px 25px;
    color: #F15B22;
    background-color: FFFFFF;
    margin-top: 20px;
}
.project-section{
    max-width: 80%;
    margin: 0 auto;

    
}
.project-section > h2{
    font-size: 30px;
    font-family: 'Work Sans', sans-serif;
}
.project{
    display: flex;
    align-items: center;
    gap: 50px;
}
.project-text h1{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.project-text li{
    list-style: none;
    font-family: 'Work Sans';
    color: #444343;
    margin-top: 10px;
    font-size: 16px;
    
}
.project-text  .fas{
  color: #16D887;

}
.card{
    width: 450px;
}
.card img{
    width: 100%;
}
.spesifiq-color{
    color: #F15B22;
}
